.figure_center
{
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
}

#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#content-container
{
	float: left;
	width: 100%;
}

#content
{
	float: left;
	width: 100%;
	padding: 20px 0;
	margin: 0 0 0 2%;
}

#content img.big-image 
{
	width: 100%;
	display: block;
}


#content h2 { margin: 0; }

#aside h3 { margin: 0; }

table.reference,table.tecspec{
	border-collapse:collapse;width:100%;
}

table.reference tr:nth-child(odd)	{background-color:#f1f1f1;}
table.reference tr:nth-child(even)	{background-color:#ffffff;}

table.reference tr.fixzebra			{background-color:#f1f1f1;}

table.reference th{
	color:#ffffff;background-color:#555555;border:1px solid #555555;padding:3px;vertical-align:top;text-align:left;
}

table.reference th a:link,table.reference th a:visited{
	color:#ffffff;
}

table.reference th a:hover,table.reference th a:active{
	color:#EE872A;
}

table.reference td{
	border:1px solid #d4d4d4;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;
}

table.reference td.example_code
{
vertical-align:bottom;
}

p.note
{
     color: #000000;
     border: solid 1px #FF0000;
     background-color: #B2E0FF;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     padding: 14px 20px;
     mc-auto-number-format: '{b}Note: {/b}';
}
